*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
button{
    cursor: pointer;
}
header{
    margin: 0 auto;
    width: 100%;
    .nav{
        width: 80%;
        padding-top: 2.5%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &_logo{
            color: #000;
            font-family: 'Lexend Deca', serif;
            font-size: 34px;
            font-weight: bold;
            transition-duration: .3s;
            &_a{
                font-weight: 400;
            }
                &:hover{
                color: #2639ED;
                transition-duration: .3s;
                cursor: pointer;
                }
        }
        ul{
            width: 48%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-flow:row wrap-reverse;
            li{
                padding: 4px 4px 4px 4px;
                a{
                    color:black;
                    font-size: 20px;
                    font-family: 'Merriweather', serif;
                    font-weight: 500;
                    &:hover{
                        color: #2639ED;
                        transition: .2s;
                    }
                }
            }
        }
    }
}
.container{
    margin: 20px 0 20px 0;
    margin: 0 auto;
}
.section_1{ 
    margin-left: 15%;
    display: flex;
    flex-direction: row;
    & .right_block{

        width: 38%;
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        justify-content: space-between; 
            & .bold-text{
                color: #000;
                font-family: 'Merriweather', serif;
                font-size: 40px;
                font-style: normal;
                font-weight: 700;
                font-weight: 600;
                line-height: normal;
                margin-bottom: 10%;
            }        
            & .about-text{
                width: 55%;
                color: #565656;
                font-family: 'Merriweather', serif;
                font-size: 75%;
                font-style: normal;
                font-weight: 500;
                line-height: 160%; 
                margin-bottom: 10%;
            }
            & .btn{
                width: 35%;
                animation: none;
                border-radius: 60px;
                background: #2639ED;
                padding: 20px 40px;
                border: none;
                &:hover{
                    transition: .3s;
                    background-color: #3c48b3;

                }
                &-a{
                    color: #FFF;
                    font-family: 'Lexend Deca', sans-serif;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: 1.3px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
    }
         & .left_block{
             & .image{
                position: absolute;
                right: 0;
                margin-top: 4.5%;
                width: 36%;
                border-radius: 0px 0px 0px 200px;
                background: rgb(173, 119, 119) 50% / covrgb(255, 255, 255);
             }
             & .circle{
                width: 129px;
                height: 129px;
                color: #DAE9FF;
                position: absolute;
                left: 0;
            }
         }
}
.section_2{
    margin-left: 15%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    margin-top: 10%;
    & .right_block{
        display: flex;
        flex-direction: column;
        margin-right: 25%;
        & .bold_tt{
            color: #000;
            font-family: 'Merriweather', serif;
            font-size: 40px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
        & .p_tt{
            color: #757575;

            font-family: 'Merriweather', serif ;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 160%;
        }
    }
    & .left_block{
        width: 45%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        
        img{
            width: 55%;
        }
    }
}